*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-attachment: fixed;
	width: 100%;
	height: 109.5vh;
	position: relative;
	background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('Netflix2.jpg') no-repeat center / cover;
}

img{
    margin-left: 175px;
    width: 160px;
    margin-top: -40px;
    cursor: pointer;
}

.sign{
    font-size: 14px;
    font-weight: 700;
    margin: 20px;
    margin-right: 150px;
    margin-top: 25px;
    color: white;
    text-decoration: none;
    background-color: rgb(238, 4, 4);
    border-radius: 3.5px;
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 6.5rem;
}

.un{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    font-size: 43px;
    font-weight: 900;
}

p{
    margin-top: 9px;
    color: #fff;
	font-weight: 200;
	font-size: 1.6rem;
	line-height: 1.25;
    word-spacing: 1.4px;

}

h6{
    margin-top: 23px;
    color: #fff;
	font-weight: 200;
	font-size: 1.3rem;
	line-height: 1.25;
    
}

.mail{
    margin-top: 17px;
    align-items: center;
    justify-content: center;
    
}

/* .con{

} */

.input{
    border: 1.5px rgb(80, 80, 80) solid;
    background-color: rgba(70, 70, 68, 0.5);
    height: 60px;
    width: 370px;
    border-radius: 5px;
    color: #fff;
}

.linkmail{
    background-color: rgb(224, 4, 4);
    color: #fff;
    width: 900px;
    height: 58px;
    margin-left: 8px;
    font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.40;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 23px;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center; 

}

div .con {
    /* color: #ffffff; */
    font-size: 17px;
    font-weight: 800;
    text-align: center;
}



.linkmail:hover{
    background-color: rgb(201, 2, 2);
    transition: ease;
}

::placeholder{
    margin-left: -300px;
    color: rgb(148, 147, 147);
    font-size: 16px;
    font-weight: 540;
    font-family: 'Arial', sans-serif;
    padding-left: 8px;
    
}

.line{
    color: rgb(46, 46, 46);
    line-height: 8px;
    background-color: rgb(46, 46, 46);

}

.enjoy{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 120px;
    padding-left: 230px;
    font-family: 'Arial', sans-serif;

}

h2{
    
    font-size: 44px;
    font-weight: 900;
   
}

h3{
    font-size: 27px;
    font-weight: 300;
}    
    
.story__card__right{
    margin-top: -600px;
    margin-left: 800px;
}

.tv__anime{

    width: 360px;
    margin-left: 123.5px;
    margin-top: 340px;

}

.tv__img{
    margin-top: -570px;
    width: 500px;
    margin-bottom: 80px;
    margin-left: -20px;
    
}

.line1{
    background-color: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    line-height: 10px;
    height: fit-content;
}

.discover{
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-left: 700px;
    padding-top: 140px;
    font-family: 'Arial', sans-serif;
}

.line2{
    background-color: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    line-height: 10px;
    height: fit-content;
}

.watch{
    height: 67vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 100px;
    padding-left: 250px;
    font-family: 'Arial', sans-serif;

}

.line3{
    background-color: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    line-height: 10px;
    height: fit-content;

}

.create{
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 170px;
    padding-left: 700px;
    font-family: 'Arial', sans-serif;

}

.line4{
    background-color: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    line-height: 10px;
    height: fit-content;
}

.frequently {
    height: 280vh;
    background-color: black;
}

.questions{
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 80px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 45px;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size: 44px;
}

.what{
    padding-top: 15px;
    background-color: black;
    height: 100%;
    width: 90%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: vh;
}

.net{
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: left;
    width: 600px;
    margin-left: -52px;
    color: #fff;
    
}

.is{
    font-size: 25px;
    font-family: 'Arial', Courier, monospace;
    padding-left: 30px;
    cursor: pointer;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 8px;
    width: 170vh;
    height: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    border: none;
    
}

.is:hover{
    transition: ease 1s;
    background-color: rgb(68, 68, 68);
}

.p{
    background-color: rgb(44, 44, 44);
    margin-left: 150px;
    width: 170vh;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: 250;
    padding: 15px;
    height: auto;
    
}

.plus{
    color: #ffffff;
    float: right;
    font-size: 50px;
   
   
}

.line5{
    margin-top: 40vh;
    background-color: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    line-height: 10px;
    height: fit-content;
}

.mail2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
}

.maill{
    margin-top: 10px;
}

.input2{
    border: 1.5px rgb(80, 80, 80) solid;
    background-color: rgba(70, 70, 68, 0.5);
    height: 60px;
    width: 370px;
    border-radius: 5px;
    color: #fff;
    border-color: rgb(3, 172, 3);
}

.end {
    background-color: black;
    color: rgb(158, 157, 157);
    padding-top: 80px;
    height: 140vh;
}

footer {
    width: 70%;
    margin-left: 20vh;
    
}



footer .links ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-decoration: underline;
    list-style: none;
    
    font-size: 15px;
}

footer .links > * {
    margin-bottom: 40px;
}

.contact {
    padding-bottom: 30px;
    color: rgb(158, 157, 157);
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    
}

li {
    cursor: pointer;
    width: fit-content;
}